/* Grundlegendes Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Schwarzer Hintergrund */
    color: #b4976f; /* Beige Schriftfarbe */
}

/* Navigation */
nav {
    background-color: #222; /* Dunklerer Hintergrund für Navigation */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #b4976f; /* Beige Links */
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f5f5f5; /* Hellerer Hover-Effekt für Links */
}

/* Hauptinhalt */
section {
    padding: 40px 20px;
    margin: 20px 0;
}

#home {
    background-color: #000;
    color: #b4976f;
    text-align: center;
}

#home h1 {
    font-size: 3em;
}

#about, #contact {
    background-color: #000; /* Schwarzer Hintergrund für About und Contact */
    color: #b4976f; /* Beige Schriftfarbe */
}

#about h2, #contact h2 {
    font-size: 2em;
}

/* Footer */
footer {
    background-color: #222;
    color: #b4976f; /* Beige Schrift in der Fußzeile */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
