/* Grundlegendes Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Schriftart */
body {
    font-family: 'Parlow', sans-serif;
}

/* Oberer Bereich (Header) */
header {
    background-color: #000; /* Schwarzer Hintergrund */
    color: #b4976f; /* Beige Schriftfarbe */
    text-align: center;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Titel im Header */
header h1 {
    font-size: 3em;
    font-weight: bold;
}

/* Abstand unter dem Header, um Platz für den Inhalt zu schaffen */
body {
    padding-top: 130px; /* Höhe des fixierten Headers */
}

/* Hauptinhalt */
.content {
    background-color: #b4976f; /* Beiger Hintergrund */
    color: #000; /* Schwarze Schrift */
    height: 100vh; /* Volle Bildschirmhöhe */
}

/* Leerbereich */
.empty-space {
    height: 80%; /* Der untere Bereich bleibt leer */
}

/* Footer (schwarzer Balken und Button) */
footer {
    background-color: #000; /* Schwarzer Hintergrund */
    color: #b4976f; /* Beige Schriftfarbe */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer button {
    background-color: transparent;
    color: #b4976f;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #b4976f;
    padding: 10px 20px;
    cursor: pointer;
}

footer button:hover {
    background-color: #b4976f;
    color: #000;
}
